// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pin{
  height: 400px;
}

.bloque{
  height: 80%;
}

.foto{
 height: 100%;
 display: inline-block;
}

.btn-new{
  margin-bottom: 10px;
}

.btn{
  margin-left: 10px;

}

.form{
  margin-left: 150px;
  margin-right: 150px;
}

.bton-submit{
  margin-left: 150px;
}

.bton-edit{
  margin-left: 20px;
}
